body{
    background-color: #EAEAEA;
    font-family: 'Titillium Web', sans-serif;
    margin: 0 5% 0 5%;
}

header{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin: 0 0 3em 0;
}

footer{
    min-height: 10vh;
}

p{
    font-size: calc(12px + (26 - 12) * ((100vw - 300px) / (1600 - 300)));
}

h2{
    font-size: calc(24px + (38 - 24) * ((100vw - 300px) / (1600 - 300)));
}

header img{
    width: 350px;
}

header h2{
    margin-bottom: 0;
}

.bold{
    font-weight: bold;
}

form{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 30% 0 30%;
    min-height: 35vh;
}

.flex-center{
    display: flex;
    align-items: center;
}

.left-button, .right-button{
    width: 15em;
    height: 2em;
    color: #FFF;
    font-size: 16px;
    border-radius: 5%;
    outline: none;
    border: 1.5px solid #FFF; 
    text-align: center;
}

.left-button{
    background-color: #0AB9E6;
}

.right-button{
    background-color: #FF3C28;
}

.text-box{
    width: 20em;
    height: 2em;
    border-radius: 5%;
    margin-right: 5px;
}

/************************/

table.BlueCols {
  background-color: #398AA4;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.BlueCols td, table.BlueCols th {
  border: 1px solid #FFFFFF;
  padding: 7px 7px;
}
table.BlueCols tbody td {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}
table.BlueCols thead {
  background: #FF3C28;
  border-bottom: 2px solid #FFFFFF;
}
table.BlueCols thead th {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.BlueCols thead th:first-child {
  border-left: none;
}

table.BlueCols tfoot td {
  font-size: 11px;
}
table.BlueCols tfoot .links {
  text-align: right;
}
table.BlueCols tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #398AA4;
  padding: 2px 8px;
  border-radius: 5px;
}



@media screen and (max-width: 500px) {
    .flex-center{
        flex-flow: column;
    }
    
    
}





