<!DOCTYPE html>
<html>
    <head> 
        <title> Switch Scrapper </title>
        <link rel="icon" href="../static/imgs/favicon.png">
        <link rel="stylesheet" href="../static/main.css">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="utf-8">
    </head>

    <body>
        <header>
            <img src="../static/imgs/logo.png">
            <h2 class="bold"> What is Switch Scraper? </h2>
            <p> Switch Scraper scrapes the newest submissions of /r/NintendoSwitchDeals and shows the most probable deals for a Nintendo Switch or game of your choice. That's really it. Enjoy!</p>
        </header>


        <form action="" method="post">
            <div class="flex-center">
                <input type="text" name="lastname" placeholder="Search" class="text-box">
                <input type="submit" value="Search for game deals" class="left-button">
            </div>
            <p> OR </p>
            <input type="submit" value="Search for Switch deals" class="right-button">
        </form> 
		{% if query %}
		<table style="width:100%">
			{% if game %}
			<tr>
			  <th>Game</th>
			  <th>Price</th> 
			  <th>Link</th>
			</tr>
			<tr>
			  <td>{{name}}</td>
			  <td>{{price}}</td> 
			  <td>{{link}}</td>
			</tr>
			{% else %}
			<tr>
				<th>Console Listing</th>
				<th>Price</th> 
				<th>Link</th>
			  </tr>
			  {% for listing in posts%}
			  <!-- {{listing}} -->
			  <tr>
				{% for elem in listing %}
				<td>{{elem}}</td>
				{% endfor %}
			  </tr>
			  {% endfor %}
			{% endif %}
		</table>
		{% else %}
		<p>error</p>
		{% endif %}
        <footer>
            <p> Back-end by Andrés Rodríguez <br> Front-end by Brandon Chen </p>
        </footer>
    </body>

    <!--
<button class="left-button bold" type="button">Search for Switch deals</button>
<button class="right-button bold" type="button">Search for game deals</button>
-->
</html>